body{
    background-color: #f3f5fc;
}
.presentacion{
    display: flex;
}
.logo{
width: 120px;
height: 48px;
margin-top: 40px;
margin-left: 40px;
}



.texto__sin__encriptar{
    background-color: #f3f5fc;
    width: 680px;
    height: 288px;
    border-color: red;
    margin-top: 168px;
    margin-left: 80px;
    margin-right: 0px;
}

.div__texto__encript{
    background-color: #ffffff;
    width: 400px;
    height: 944px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 40px;
    /*border: solid 2px green;*/
    border-radius: 32px;
    text-align: center;
    
}

.muñeco{
    margin-top: 243px; 
}

.mensaje__error__encriptado1{
    width: 336px;
    height: 58px;
    border-color: blue;
    margin-top: 32px;
    margin-left:32px;
    margin-right: 32px;
    margin-bottom: 0px;
}

.mensaje__alerta__solo__minusculas{
    width: 680px;
    margin-left: 80px;
}

.botones__encrip__desencrip{
    display: flex;
    width: 680px;
    margin-left: 80px;
    margin-top: 429px;
    gap: 24px;

}

.boton{
    width: 368px;
    height: 67px;
    border-radius: 24px;
}

.boton1{
    background-color: #0a3871;
}


