@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    border:0;
 }

body{
    background-color: #f3f5fc;
}
.presentacion{
    display: flex;
}
.logo{
width: 120px;
height: 48px;
margin-top: 40px;
margin-left: 40px;
}



.texto__sin__encriptar{
    background-color: #f3f5fc;
    width: 577px;
    height: 48px;
    margin-top: 168px;
    margin-left: 80px;
    margin-right: 0px;
    font-family: inter;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
}

.div__texto__encript{
    background-color: #ffffff;
    width: 400px;
    height: 944px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 40px;
    /*border: solid 2px green;*/
    border-radius: 32px;
    text-align: center;
    
}

.muñeco{
    margin-top: 243px; 
}

.mensaje__error__encriptado1{
    width: 336px;
    height: 58px;
    border-color: blue;
    margin-top: 32px;
    margin-left:32px;
    margin-right: 32px;
    margin-bottom: 0px;
}

.boton__copiar{
    width: 336px;
    height: 67px;
    border-radius: 24px;
    margin-top: 150px;
    font-family: inter;
    font-size: 16px;
}
.logo__group{
    padding-top: 17px;
    width: 16px;
    height: 16px;
}

.H3__mensaje__alerta_solo__minusculas{
    margin: 0px;
    padding: 17px;
}

.mensaje__alerta__solo__minusculas{
    display: flex;
    width: 680px;
    margin-left: 80px;
    margin-top: 635px;
    font-family: inter;
    font-size: 12px;
    opacity: 80%;
    gap: 8px;

}

.botones__encrip__desencrip{
    display: flex;
    width: 577px;
    margin-left: 80px;
    margin-top: 16px;
    gap: 24px;

}

.boton{
    width: 368px;
    height: 67px;
    border-radius: 24px;
}

.boton1{
    background-color: #0a3871;
    font-family: inter;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
    color: #ffffff;
}

.boton2{
    background-color: #D8DFE8;
    font-family: inter;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
    color:#0A3871
}

@media (min-width: 768px) and (max-width: 1023px) {
    .logo{
     width: 31px;
     height: 48px;
     margin-top: 73.42px;
     margin-left: 40px;
    }
    
}
